NEXT_PUBLIC_GOOGLE_ANALYTICS=
NEXT_PUBLIC_CLARITY_PROJECT_ID=
NEXT_PUBLIC_STRAPI_URL=http://strapi.tacdesignlab.com

# Strapi Secrets (Generate secure values for production)
JWT_SECRET=changeThisToASecretKey
ADMIN_JWT_SECRET=changeThisToASecretKey
APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=toBeModified
